################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GremlinGraph/bin/Debug
/GremlinGraph/obj/Debug
